* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Pixel;
}

@keyframes open {
    0% {
        transform: scaleY(0) scaleX(0);
        -webkit-transform: scaleY(0) scaleX(0);
        -moz-transform: scaleY(0) scaleX(0);
        -ms-transform: scaleY(0) scaleX(0);
        -o-transform: scaleY(0) scaleX(0);
    }
    25% {
        transform: scaleY(0) scaleX(0.2);
        -webkit-transform: scaleY(0) scaleX(0.2);
        -moz-transform: scaleY(0) scaleX(0.2);
        -ms-transform: scaleY(0) scaleX(0.2);
        -o-transform: scaleY(0) scaleX(0.2);
        box-shadow: 10px 0 10px #00000021;
    }
    50% {
        transform: scaleY(1) scaleX(0.5);
        -webkit-transform: scaleY(1) scaleX(0.5);
        -moz-transform: scaleY(1) scaleX(0.5);
        -ms-transform: scaleY(1) scaleX(0.5);
        -o-transform: scaleY(1) scaleX(0.5);
        box-shadow: 15px 0 15px #0000003b;
    }
    100% {
        transform: scaleY(1) scaleX(1);
        -webkit-transform: scaleY(1) scaleX(1);
        -moz-transform: scaleY(1) scaleX(1);
        -ms-transform: scaleY(1) scaleX(1);
        -o-transform: scaleY(1) scaleX(1);
        box-shadow: 20px 0 20px #00000073;
    }
}

@keyframes close {
    0% {
        transform: scaleY(1) scaleX(1);
        -webkit-transform: scaleY(1) scaleX(1);
        -moz-transform: scaleY(1) scaleX(1);
        -ms-transform: scaleY(1) scaleX(1);
        -o-transform: scaleY(1) scaleX(1);
    }
    50% {
        transform: scaleY(1) scaleX(0.5);
        -webkit-transform: scaleY(1) scaleX(0.5);
        -moz-transform: scaleY(1) scaleX(0.5);
        -ms-transform: scaleY(1) scaleX(0.5);
        -o-transform: scaleY(1) scaleX(0.5);
        box-shadow: 15px 0 15px #0000003b;
    }
    75% {
        transform: scaleY(0) scaleX(0.2);
        -webkit-transform: scaleY(0) scaleX(0.2);
        -moz-transform: scaleY(0) scaleX(0.2);
        -ms-transform: scaleY(0) scaleX(0.2);
        -o-transform: scaleY(0) scaleX(0.2);
        box-shadow: 10px 0 10px #00000021;
    }
    100% {
        transform: scaleY(0) scaleX(0);
        -webkit-transform: scaleY(0) scaleX(0);
        -moz-transform: scaleY(0) scaleX(0);
        -ms-transform: scaleY(0) scaleX(0);
        -o-transform: scaleY(0) scaleX(0);
        box-shadow: 10px 0 10px #00000021;
    }
}

@keyframes switch {
    0% {
        transform: scaleY(1);
    }
    25% {
        transform: scaleY(0.5) skewY(30deg);
        box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.5), inset 0 0 5px#ffffff;
    }
    50% {
        transform: scaleY(0);
    }
    75% {
        transform: scaleY(0.5) skewY(-30deg);
        box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.5), inset 0 0 5px#ffffff;
    }
    100% {
        transform: scaleY(1);
        background-color: rgba(55, 168, 55, 0.541)ay;
    }
}

@keyframes switch-rev {
    0% {
        transform: scaleY(1);
        background-color: rgba(55, 168, 55, 0.541);
    }
    25% {
        transform: scaleY(0.5) skewY(-30deg);
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5), inset 0 0 5px#ffffff;
    }
    50% {
        transform: scaleY(0);
    }
    75% {
        transform: scaleY(0.5) skewY(30deg);
        box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.5), inset 0 0 5px#ffffff;
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes blick {
    0% {
        outline: 5px solid #929D7B;
        outline-offset: -5px;
    }
    100% {
        outline: 5px solid #929D7B;
        outline-offset: 5px;
    }
}

::-webkit-scrollbar {
    width: 15px; /* ширина для вертикального скролла */
    height: 10px; /* высота для горизонтального скролла */
    background-color: #00000017;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #F15C5C;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bb4646;
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, transparent 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(240deg, transparent 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(0deg, transparent 30%, rgba(0, 0, 0, 0) 31%);
    background-color: transparent;
    visibility: hidden;
    opacity: 0;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background:
        linear-gradient(300deg, transparent 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, transparent 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, transparent 30%, rgba(0, 0, 0, 0) 31%);
    background-color: transparent;
    visibility: hidden;
    opacity: 0;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background:
        linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: transparent;
    visibility: hidden;
    opacity: 0;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background:
        linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: transparent;
    visibility: hidden;
    opacity: 0;
}

.wrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    background: url("./image/background.png") #E7FBBE center center;
    background-size: cover;
}

.menu-content {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-content__headline {
    font-style: normal;
    font-weight: normal;
    font-size: calc(50px + 3vw);
    line-height: calc(50px + 5vw);
    display: flex;
    align-items: center;
    text-align: center;
    color: #929D7B;
}

.menu-content__btn {
    padding: 20px 100px;
    background: #929D7B;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: calc(20px + 1vw);
    line-height: calc(20px + 1vw);
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.menu-content__btn:focus {
    animation: blick linear 0.5s 1;
    -webkit-animation: blick linear 0.5s 1;
}

.select-difficulty {
    height: 60%;
    width: 80%;
    display: none;
    row-gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 5;
    top: 20%;
    left: 10%;
    background: rgba(255, 203, 203, 0.4);
    box-shadow: 0px 27px 18px -25px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 5px;
    padding: 15px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.select-difficulty__row {
    width: 100%;
    height: 50%;
    display: flex;
    column-gap: 15px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.difficulty__wrap {
    width: 100%;
    height: 100%;
}

.select-difficulty__card {
    height: 100%;
    width: 100%;
    background: gray;
    box-shadow: 0px 18px 18px -15px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: #141414;
    cursor: pointer;
}

.select-difficulty__card_green {
    background: #E7FBBE;
}

.select-difficulty__card_yellow {
    background: #FFFDDE;
}

.select-difficulty__card_purple {
    background: #C3C1D9;
}

.select-difficulty__card_red {
    background: #FFCBCB;
}

.select-difficulty__text {
    width: 50%;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: calc(20px + 1vw);
    line-height: calc(25px + 1vw);
    color: #000000;
}

.select-difficulty__img {
    max-height: 100%;
}

.select-difficulty__close-btn {
    display: none;
    width: 50px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 10;
}

.playground {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.playground__inner {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playground__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

@keyframes up {
    0% {
        opacity: 0;
        margin-top: 0;
    }

    90% {
        opacity: 1;
        margin-top: -400px;
    }

    100% {
        opacity: 0;
        margin-top: -450px;
    }
}

.playground__alerts {
    position: fixed;
    font-size: 50px;
    opacity: 0;
    user-select: none;
}

.playground__headline {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2c2c2c73;
    user-select: none;
}

.card {
    padding: 25px;
    min-height: 450px;
    min-width: 400px;
    width: min-content;
    background: #929D7B;
    box-shadow: 0px 32px 21px -21px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.card:first-child {
    background: #FFFDDE;
    border: 1px solid #cac8b0;
    max-height: 450px;
}

.card_red {
    background: #FFCBCB;
    border: 1px solid #c29999;
}

.card:nth-child(2) {
    background: #C3C1D9;
    border: 1px solid #9897aa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__headline {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

.card__hints {
    max-height: 200px;
    list-style-position: inside;
    display: flex;
    gap: 15px;
    flex-direction: column;
    overflow-y: hidden;
}

.card__hints-item {
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.2);
}

.card__hints-item_actualy {
    color: #000000;
}

.card_red {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    text-align: center;
}

.card__adaptive-row:first-child {
    display: flex;
    flex-direction: column;
}

.card__adaptive-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__btn {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.card_red .card__text {
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-weight: 100;
}

.playground__timer {
    position: fixed;
    top: 25px;
    right: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F15C5C;
}

.playground__input-row {
    height: 50px;
    display: flex;
    position: relative;
    right: -25px;
}

.playground__guess-word {
    height: 100%;
    width: 200px;
    border-radius: 5px;
    padding: 10px 65px 10px 10px;
    outline: none;
    border: 1px solid #b98a8a;
    background: #FFFFFF;
    box-shadow: 0px 20px 22px -14px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.playground__guess-btn {
    width: 50px;
    height: 50px;
    position: relative;
    left: -50px;
    background: #FFCBCB;
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #b98a8a;
    border-left: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
}

.win-num {
    opacity: 0.4;
    font-size: 100px;
    line-height: 100px;
    user-select: none;
}

.card__headline-warning {
    font-size: 36px;
    opacity: 0.2;
    display: flex;
    text-align: center;
    align-self: center;
}

@media screen and (max-height: 900px) {
    .card {
        min-height: 350px;
        min-width: 300px;
    }
}

@media screen and (max-width: 684px) {
    .wrap {
        padding: 20px;
    }
    .select-difficulty {
        height: 90%;
        top: 5%;
    }
    .select-difficulty__row {
        flex-direction: column;
        height: 50%;
        column-gap: 0;
        row-gap: 10px;
    }
    .select-difficulty__card {
        height: 100%;
        width: 100%;
    }
    .select-difficulty__img {
        max-height: 100%;
    }
    .menu-content__headline {
        
        font-size: calc(50px + 5vw);
        line-height: 120px;
    }
    .menu-content__btn {
        width: 60%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .select-difficulty__close-btn {
        width: 20px;
        height: 20px;
        top: 10px;
        right: 40px;
    }

    /* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, #929D7B 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(240deg, #929D7B 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(0deg, #929D7B 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #ffffff;
    visibility: visible;
    opacity: 1;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background: linear-gradient(120deg, #929D7B 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(240deg, #929D7B 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(0deg, #929D7B 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #ffffff;
    visibility: visible;
    opacity: 1;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background: linear-gradient(120deg, #929D7B 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(240deg, #929D7B 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(0deg, #929D7B 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #ffffff;
    visibility: visible;
    opacity: 1;
}

    ::-webkit-scrollbar-button:horizontal:end:increment {
        background: linear-gradient(120deg, #929D7B 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(240deg, #929D7B 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(0deg, #929D7B 30%, rgba(0, 0, 0, 0) 31%);
        background-color: #ffffff;
        visibility: visible;
        opacity: 1;
    }

    .playground {
        justify-content: center;
        gap: 10px;
    }

    .playground__inner {
        justify-content: center;
        align-items: center;
        gap: 3vh;
    }

    .playground__guess-word {
        width: 80%;
    }

    .playground__input-row {
        order: -1;
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .headline-row {
        order: -1;
    }

    .playground__timer {
        top: 10px;
        right: 10px;
        font-size: 30px;
        line-height: 30px;
        position: absolute;
    }

    .playground__headline {
        text-align: left;
        font-size: 30px;
        line-height: 30px;
    }

    .playground__row {
        height: auto;
        flex-direction: column;
        gap: 20px;
    }

    .card {
        min-height: 120px;
        height: 120px;
        min-width: 90%;
        padding: 5px 10px;
    }

    .card.card_red {
        height: 120px;
        order: -1;
    }

    .card.card_yellow {
        height: 170px;
    }


    /* <aside class=" card card_red ">
            <div class=" card__adaptive-row ">
                <h3 class=" card__headline ">Score:</h3>
                <p id="scoreval" class=" card__text ">0 points</p>
            </div>
            <div class="card__adaptive-row">
                <h3 class="card__text">Record:</h3>
                <p class="card__text"> coming soon</p>
            </div>
            <div class=" card__btn-group ">
                <button id="pause" class="card__btn card__btn_pause"><img class="pause-play__img" src="./image/buttons/pause.svg " alt=" || "></button>
                <button id="goHome" class="card__btn"><img src=" ./image/buttons/home.svg " alt=" home "></button>
            </div>
        </aside> */

    .card__adaptive-row {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 5px;
    }

    .card__btn-group {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .card__btn {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card__btn img {
        height: 70%;
    }

    .card__btn img[src="./image/buttons/play.svg"] {
        height: 55%;
    }

    .card.card_red {
        min-height: 150px;
        height: 150px;
        justify-content: center;
        flex-direction: column;
    }

    .card.card_gray {
        min-height: 70px;
        height: 70px;
    }

    .card.card_red .card__text {
        font-size: 14px;
        line-height: 14px;
    }
    .card.card_red .card__headline {
        font-size: 20px;
        line-height: 20px;
        padding: 0;
    }

    .card__hints {
        max-height: 75%;
    }

    .card__headline {
        font-size: 20px;
        line-height: 20px;
        width: auto;
    }
    
    .card__question-img {
        height: 100%;
    }

    .card_gray {
        order: -1;
    }

    .playground__alerts {
        position: fixed;
        top: 30%;
        font-size: 30px;
        opacity: 0;
        user-select: none;
    }
}